<div class="miniblock">
	<div>Aufgabentype:</div>
	<select class="aufgabentype">
		<option value="plus">Plusaufgaben</option>
		<option value="minus">Minusaufgaben</option>
		<option value="umkehr">Umkehraufgaben</option>
		<option value="umkehr-plus">Plus Umkehraufgaben</option>
		<option value="umkehr-minus">Minus Umkehraufgaben</option>
		<option value="umkehr-minus-first">Minus Umkehraufgaben 1</option>
		<option value="umkehr-minus-second">Minus Umkehraufgaben 2</option>
	</select>
</div>

Erste Zahl: <dy-number-setting></dy-number-setting>
Zweite Zahl: <dy-number-setting></dy-number-setting>

<div class="miniblock">
	<div>Zahlenbereich:</div>
	<select class="zahlenbereich">
		<option value="10">bis 10</option>
		<option value="20">bis 20</option>
		<option value="30">bis 30</option>
		<option value="50">bis 50</option>
		<option value="100">bis 100</option>
		<option value="1000">bis Tausend</option>
		<option value="1000000">bis Million</option>
		<option value="1000000000">bis Milliarde</option>
	</select>
</div>
