@import "../../_shared/styles.scss";

:host {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $plus-bgcolor;
}



.image {
	position: relative;
	width: 300px;
	height: 300px;
}

.popup {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: solid 2px green;
	border-radius: 3px;
	background-color: #e0ffe0;
	color: green;
	font-family: Arial;
	font-size: 30px;
	align-items: center;
	justify-content: center;
	opacity: 0.9;

	.visible {
		display: flex;
	}

	.wrong {
		color: red;
		border-color: red;
		background-color: #ffe0e0;
	}
}






.aufgabe {
	display: flex;
	margin-top: 60px;
	margin-bottom: 30px;
	font-family: Arial;
	font-size: 20px;

	input {
		width: 150px;
		height: 30px;
		font-size: 20px;
		text-align: center;
	}

	div {
		margin-top: 4px;
		margin-left: 10px;
		margin-right: 10px;
		height: 30px;
		font-size: 24px;
	}

}


.action {
	margin-top: 20px;
	width: 300px;
	font-family: Arial;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}


input:disabled {
	color: black;
	background-color: white;
	border: solid 1px #b0b0b0;
}